on: [push]

name: CI

jobs:
  check:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
      - uses: actions-rs/cargo@v1
        with:
          toolchain: nightly
          command: check
          args: --release --all
  cargo_bloat:
    runs-on: ubuntu-latest
    steps:
      # FIXME: Dependency installations should be part of the image
      - run: sudo apt-get install pkg-config
      - uses: actions/checkout@master
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
      # Cache, see: https://github.com/orf/cargo-bloat-example/blob/master/.github/workflows/bloat.yml
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: bloat-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: bloat-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo build
        uses: actions/cache@v1
        with:
          path: target
          key: bloat-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
      # Cargo bloat
      - name: Run cargo bloat
        uses: orf/cargo-bloat-action@v1.2.0
        with:
          exclude_packages: "raytracer_core"
          token: ${{ secrets.GITHUB_TOKEN }} 
